<!DOCTYPE HTML>
<!-- log in page for the blog -->
<html>
   <head>
      <title> login page </title>
      <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="../css/creative.css">
      <style>
      body {background-color:lightblue}
      </style>
   </head>
   <br>
   <br>
   <body>
     <div class="col-sm-6 col-md-4 col-md-offset-4">
      <h1>register</h1>
    </div>
      <div class="container">
         <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
               <div class="account-wall">
                  <form class="form-signin" method="post">
                     <input type="text" class="form-control" name='username' placeholder="Username" value="{{username}}" required>
                     <input type="password" class="form-control" name='password' placeholder="Password" required>
                     <br>
                     <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>
